

.dropdown-menu {
  position: absolute;
  right: 0; /* Align to the right of .nav-button-wrapper */
  top: 100%; /* Position below the button */
  width: 200px; /* Or whatever width you need */
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 4px;
  overflow: hidden;
  font-family: "IBM Plex Sans", serif; /* Consistent font */
  font-size: 14px; /* Consistent font size */
}

/* Show dropdown menu */
.show {
  display: block;
}

/* Add transition for smooth color change */
.active {
  color: black; /* Example active color */
  transition: color 0.3s ease;
  font-family: "IBM Plex Sans", serif; /* Consistent font */
  font-size: 14px; /* Consistent font size */
}

/* Align menu items to the left */
.dropdown-menu a {
  text-align: left; /* Align text to the left */
  padding: 10px 16px; /* Adjust padding for spacing */
  display: block; /* Ensure full width for clickable area */
  color: black;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "IBM Plex Sans", serif; /* Consistent font */
  font-size: 14px; /* Consistent font size */
}

/* Add hover effect for better UX */
.dropdown-menu a:hover {
  background-color: #00007D;
  color: white;
}
