/* Dropdown Button Styles */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 12px 16px;
  font-size: 14px;
  font-family: "IBM Plex Sans", serif;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

/* Dropdown Container */
.dropdown {
  position: relative;
  float: right;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-family: "IBM Plex Sans", serif;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
