.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 4px;
  overflow: hidden;
  font-family: "IBM Plex Sans", serif;
  font-size: 14px;
}

.show {
  display: block;

}

.active {
  color: black;
  transition: color 0.3s ease;
  font-family: "IBM Plex Sans", serif;
  font-size: 14px;
}

.dropdown-menu a {
  text-align: left;
  padding: 10px 16px;
  display: block;
  color: black;
  background-color: white;  // Add this to ensure white background
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "IBM Plex Sans", serif;
  font-size: 14px;

  // Add active/focus states for touch devices
  &:hover,
  &:active,
  &:focus  // Added missing comma here
   {
    background-color: #00007D;
    color: white;
  }

  // Media query for touch devices
  @media (hover: none) {
    &:active {
      background-color: #00007D;
      color: white;
    }
  }
}
