
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 220, 225, 0.98);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;  // Hide by default
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  overflow: auto;
  transition: opacity 0.3s ease, visibility 0.3s ease;  // Smooth transition

  &.active {
    opacity: 1;
    visibility: visible;
  }
}


.modal-content {
  position: relative; // Remove duplicate
  width: 80%;
  max-width: 540px;
  max-height: 90vh;
  height: auto;
  overflow-y: auto;
  background: white;
  padding: 2rem;
  margin: 2vh;
  border-radius: 12px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  h2 {
    font-family: "IBM Plex Sans", serif;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  background: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &:hover {
    border-width: 2px;
    background: #FFFFBE;
  }
}


// Timeline specific styles
.timeline {
  position: relative;
  padding: 20px 0;


  &::before {
    content: '';
    position: absolute;
    left: 48px;
    top: 24px;
    bottom: 40px;
    width: 2px;
    background: black;
  }
}

.timeline-item {
  display: flex;
  margin-bottom: 16px;
  position: relative;
}

.timeline-date {
  display: flex;
  justify-content: flex-start;
  width: 60px;
  padding-right: 4px;
  font-weight: 600;
  text-align: left;
}

.timeline-info {

  flex: 1;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;


  h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }
}

.card-icon {
display: flex;
justify-content: flex-end;
}
