

/* Navbar styling */

.nav-container {
  position: relative;
  width: 100%;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  row-gap: 12px;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.nav-button-wrapper {
  position: relative;
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  background: transparent; // Change to transparent
  position: relative;

  &:hover {
    border-width: 2px; // Just change the border width on hover
    background: transparent; // Keep transparent
  }

  a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;

    &.active {
      background-color: black;
      color: white;
      font-weight: medium;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    &:hover {
      background: #FFFFBE;
      color: black;
    }
  }
}



/* Navigation Link Styling */
.nav-link {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-decoration: underline;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;

  &:hover {
    background: #FFFFBE;
  }

  &:active {
    background: black;
    color: white;
  }
}
