// Cloud animations for index page only
@keyframes clouds-loop-clouds_1 {
  to { background-position: -1000px 0; }
}

@keyframes clouds-loop-clouds_2 {
  to { background-position: -1000px 0; }
}

@keyframes clouds-loop-clouds_3 {
  to { background-position: -1579px 0; }
}

.clouds {
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;

  &-clouds_1, &-clouds_2, &-clouds_3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-repeat: repeat-x;
  }

  &-clouds_1 {
    background-image: url('https://res.cloudinary.com/diwuyv3c8/image/upload/v1734971669/cloud_01_hcsl6u.png');
    animation: clouds-loop-clouds_1 25s infinite linear;
  }

  &-clouds_2 {
    background-image: url('https://s.cdpn.io/15514/clouds_2.png');
    animation: clouds-loop-clouds_2 30s infinite linear;
  }

  &-clouds_3 {
    background-image: url('https://s.cdpn.io/15514/clouds_3.png');
    animation: clouds-loop-clouds_3 27s infinite linear;
  }
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

  img {
    display: block;
    max-width: 600px; // The image will stop growing beyond this width
    width: 100%; // Keeps it responsive up to 600px
    height: auto; // Maintains aspect ratio
    margin: 0 auto; // Centers the image
  }
}

@media screen and (max-width: 430px) {
  .image-container {
    max-width: 300px;
    margin: 0 auto;

    img {
      max-width: 300px; // Limit image size to the smaller container
      width: 100%;
      height: auto;
    }
  }
}
