.ibm-plex-sans-thin {
  font-family: "IBM Plex Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-extralight {
  font-family: "IBM Plex Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-light {
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-regular {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-medium {
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-semibold {
  font-family: "IBM Plex Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-bold {
  font-family: "IBM Plex Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-sans-thin-italic {
  font-family: "IBM Plex Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-sans-extralight-italic {
  font-family: "IBM Plex Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-sans-light-italic {
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-sans-regular-italic {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-sans-medium-italic {
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-sans-semibold-italic {
  font-family: "IBM Plex Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-sans-bold-italic {
  font-family: "IBM Plex Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.nav-button {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  display: flex;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  background: #FFF;
}
.nav-button:hover {
  width: 100px;
  padding: 1px;
  background: #FFFFBE;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.nav-button:active {
  background: black;
  color: white;
}

.nav-link {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  text-decoration: underline;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}
.nav-link:hover {
  background: #FFFFBE;
}
.nav-link:active {
  background: black;
  color: white;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center; /* Center the nav items inside the navbar */
  align-items: center;
  gap: 8px; /* Space between buttons */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0px auto; /* Centered horizontally */
  padding: 8px;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content inside the container */
  width: 100%;
  max-width: 1200px; /* Restrict the container's maximum width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  gap: 32px;
}

@keyframes clouds-loop-clouds_2 {
  to {
    background-position: -1000px 0;
  }
}
.clouds-clouds_2 {
  background-image: url(https://s.cdpn.io/15514/clouds_2.png);
  animation: clouds-loop-clouds_2 30s infinite linear;
}

@keyframes clouds-loop-clouds_1 {
  to {
    background-position: -1000px 0;
  }
}
.clouds-clouds_1 {
  background-image: url(https://res.cloudinary.com/diwuyv3c8/image/upload/v1734971669/cloud_01_hcsl6u.png);
  animation: clouds-loop-clouds_1 25s infinite linear;
}

@keyframes clouds-loop-clouds_3 {
  to {
    background-position: -1579px 0;
  }
}
.clouds-clouds_3 {
  background-image: url(https://s.cdpn.io/15514/clouds_3.png);
  animation: clouds-loop-clouds_3 27s infinite linear;
}

html, body {
  background-color: linear-gradient(#9BC8E1, #64A5D7); /* Adjust gradient if needed */
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background: linear-gradient(#9BC8E1, #64A5D7);
  text-align: center;
  vertical-align: middle;
}

.clouds {
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.clouds-1, .clouds-2, .clouds-3 {
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  height: 500px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(#9BC8E1, #64A5D7);
}

/* Clouds animations */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; /* Clouds behind other content */
}

.clouds-clouds_1, .clouds-clouds_2, .clouds-clouds_3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-repeat: repeat-x;
}

.clouds-clouds_1 {
  background-image: url("https://res.cloudinary.com/diwuyv3c8/image/upload/v1734971669/cloud_01_hcsl6u.png");
  animation: clouds-loop-clouds_1 25s infinite linear;
}

.clouds-clouds_2 {
  background-image: url("https://s.cdpn.io/15514/clouds_2.png");
  animation: clouds-loop-clouds_2 30s infinite linear;
}

.clouds-clouds_3 {
  background-image: url("https://s.cdpn.io/15514/clouds_3.png");
  animation: clouds-loop-clouds_3 27s infinite linear;
}

@keyframes clouds-loop-clouds_1 {
  to {
    background-position: -1000px 0;
  }
}
@keyframes clouds-loop-clouds_2 {
  to {
    background-position: -1000px 0;
  }
}
@keyframes clouds-loop-clouds_3 {
  to {
    background-position: -1579px 0;
  }
}

/*# sourceMappingURL=style.css.map */
