@use 'sass:list';
@use 'variables' as *;

// Cloud vars
$clouds: (
  ("clouds_2", "https://s.cdpn.io/15514/clouds_2.png", 1000px, 20s),
  ("clouds_1", "https://res.cloudinary.com/diwuyv3c8/image/upload/v1734971669/cloud_01_hcsl6u.png", 1000px, 15s),
  ("clouds_3", "https://s.cdpn.io/15514/clouds_3.png", 1579px, 17s)
);

// Animation & keyframes
@each $cloud in $clouds {
  $name: list.nth($cloud, 1);
  $path: list.nth($cloud, 2);
  $width: list.nth($cloud, 3);
  $duration: list.nth($cloud, 4);

  @keyframes clouds-loop-#{$name} {
    to { background-position: -#{$width} 0; }
  }

  .clouds-#{$name} {
    background-image: url(#{$path});
    animation: clouds-loop-#{$name} #{$duration} infinite linear;
  }
}

// General Styling
html, body {
  background-color: linear-gradient($windows-blue-light, $windows-blue); /* Adjust gradient if needed */
  height:  100%;
  padding: 0;
  margin:  0;
}

body {
  position: relative;
  background: linear-gradient($windows-blue-light, $windows-blue);  // Gradient background
  text-align: center;
  vertical-align: middle;
}

.clouds {
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.clouds-1, .clouds-2, .clouds-3 {
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  height: 500px;
}
