@use 'sass:list';
@use 'variables' as *;

// Cloud vars
$clouds: (
  ("clouds_2", "https://s.cdpn.io/15514/clouds_2.png", 1000px, 30s),
  ("clouds_1", "https://res.cloudinary.com/diwuyv3c8/image/upload/v1734971669/cloud_01_hcsl6u.png", 1000px, 25s),
  ("clouds_3", "https://s.cdpn.io/15514/clouds_3.png", 1579px, 27s)
);

// Animation & keyframes
@each $cloud in $clouds {
  $name: list.nth($cloud, 1);
  $path: list.nth($cloud, 2);
  $width: list.nth($cloud, 3);
  $duration: list.nth($cloud, 4);

  @keyframes clouds-loop-#{$name} {
    to { background-position: -#{$width} 0; }
  }

  .clouds-#{$name} {
    background-image: url(#{$path});
    animation: clouds-loop-#{$name} #{$duration} infinite linear;
  }
}
